<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fun.yuner.serverhostchanger">

    <application
        android:theme="@style/AppTheme">
        <activity android:name="fun.yuner.serverhostchanger.ChangeServerHostActivity" />

    </application>

</manifest>