<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fun.yuner.serverhostchanger">

    <application>
        <activity
            android:name="fun.yuner.serverhostchanger.ChangeServerHostActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

    </application>

</manifest>